beautifulsoup4
fastapi
httpx
google-genai
python-dotenv
python-pptx
uvicorn
opencv-python
jsonlines
watchdog
pytz
python-multipart
markdownify
ffmpeg-python
GitPython
opencc-python-reimplemented
google-cloud-aiplatform>=1.73.0
google-api-python-client
markdown
google-auth
google-auth-oauthlib
cairosvg
cssutils
defusedxml
openai>=1.0
