body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    "PMingLiU", /* Windows serif for Traditional Chinese */
    "MingLiU", /* Windows older serif */
    "Songti TC", /* macOS serif for Traditional Chinese */
    "Noto Serif TC",
    "Source Han Serif TC",
    serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: stretch;
    background-color: #f2f2f2; /* Example background color */
    padding: 20px;
}


.banner-right  {
    background-image: url('sa-bg-right.jpg'); /* Replace with your banner image URL */
    background-size: 100% 395px; /* Cover the entire div */
    color: white; /* Example text color */
    flex-grow: 1; /* Take the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: left; /* Horizontally center the content */
    padding-left: 200px;
    padding-right: 100px;
}


.banner-right h1 {
    font-size: 60pt;
    font-weight: 800;
    left: 300px;
}


.banner-right p {
    font-size: 24pt;
}

.anc {
    margin-left: 50px;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
