body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header .banner {
    background-image: url('sa-bg.jpg'); /* Replace with your banner image URL */
    background-size: 100% 100%;;
    color: white;
    text-align: right;
    padding: 140px 140px;
}

h1 {
    font-size: 72pt;
    font-weight: bold;
    left: 300px;
}


header .banner p {
    font-size: 32pt;
    font-weight: bold;

}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
