<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="banner">
            <h1>Smart Answer</h1>
            <p>Stop search, Get Answer</p>
        </div>
    </header>

    <nav>
        <!-- Navigation links here -->
    </nav>

    <main>
        <section>
            <p><b>Smart Answer</b>, a production-ready enterprise Question and Answer (Q&A) chatbot is designed to provide accurate answers by sourcing knowledge from multiple enterprise applications. It integrates quickly with these applications, speeding up its deployment. Smart Answer operates on both public and smaller, open-source LLMs that can be hosted in-house on consumer-grade hardware, ensuring data security and privacy.</p>
            <p> <a href="https://medium.com/@junyang168/smart-answer-turning-enterprise-applications-into-ai-powered-chatbot-4b1aabce6c9d#74f3">Technical Overview</a></a> </p>
            <P> Smart Answer is 100% open source <a href="https://github.com/junyang168/smart-answer">Developer Guide and Source Code</a></P>

        </section>

        <section>
            <h2>Contact</h2>
            <p>Contact details or form.</p>
        </section>
    </main>

    <footer>
        <p>© 2024 Smart Answer </p>
    </footer>
</body>
</html>
